workflows/ai-issue-processor.json
{
  "name": "AI Issue Processor（調査フロー）",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule 10min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "getAll",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "labels": "ai-ready",
          "state": "open"
        },
        "options": {
          "sort": "created",
          "direction": "asc"
        }
      },
      "id": "node-get-issues",
      "name": "Get oldest ai-ready Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-number",
              "leftValue": "={{ $json.number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-if-exists",
      "name": "Issue exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "edit",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "issueNumber": "={{ $('Get oldest ai-ready Issue').item.json.number }}",
        "editFields": {
          "labels": "ai-processing"
        }
      },
      "id": "node-update-label",
      "name": "Set ai-processing label",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [700, 200],
      "credentials": {}
    },
    {
      "parameters": {
        "command": "={{ 'cd ' + $env.PROJECT_PATH + ' && claude --print \"/investigate ' + $(\\'Get oldest ai-ready Issue\\').item.json.number + '\"' }}"
      },
      "id": "node-run-claude",
      "name": "Run Claude Code",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 200],
      "notes": "PROJECT_PATH に移動して /investigate {number} Skill を実行。stdout に PR URL が返る。"
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "issueNumber": "={{ $('Get oldest ai-ready Issue').item.json.number }}",
        "body": "={{ '調査完了しました。結果は以下の Draft PR を確認してください。\\n\\n' + $json.stdout.trim() }}"
      },
      "id": "node-post-comment",
      "name": "Post PR Link to Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1100, 200],
      "credentials": {}
    }
  ],
  "connections": {
    "Schedule 10min": {
      "main": [
        [{"node": "Get oldest ai-ready Issue", "type": "main", "index": 0}]
      ]
    },
    "Get oldest ai-ready Issue": {
      "main": [
        [{"node": "Issue exists?", "type": "main", "index": 0}]
      ]
    },
    "Issue exists?": {
      "main": [
        [{"node": "Set ai-processing label", "type": "main", "index": 0}],
        []
      ]
    },
    "Set ai-processing label": {
      "main": [
        [{"node": "Run Claude Code", "type": "main", "index": 0}]
      ]
    },
    "Run Claude Code": {
      "main": [
        [{"node": "Post PR Link to Issue", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
