workflows/ai-issue-processor.json
{
  "name": "AI Issue Processor（調査フロー）",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule 10min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [112, 304]
    },
    {
      "parameters": {
        "resource": "repository",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "limit": 1,
        "getRepositoryIssuesFilters": {
          "labels": "ai-ready",
          "state": "open",
          "sort": "created",
          "direction": "asc"
        }
      },
      "id": "node-get-issues",
      "name": "Get oldest ai-ready Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [332, 304],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "condition-has-number",
              "leftValue": "={{ !!$json.number }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "condition-not-processing",
              "leftValue": "={{ !($json.labels || []).map(l => l.name).includes('ai-processing') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-exists",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [552, 304]
    },
    {
      "parameters": {
        "operation": "edit",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "issueNumber": "={{ $('Get oldest ai-ready Issue').item.json.number }}",
        "editFields": {
          "labels": [
            {
              "label": "ai-processing"
            }
          ]
        }
      },
      "id": "node-update-label",
      "name": "Set ai-processing label",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [772, 208],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const t = require('slack-notify');\nconst issue = $('Get oldest ai-ready Issue').first().json;\nconst threadMap = $getWorkflowStaticData('global').slackThreads || {};\nreturn [{ json: t.buildPayloadForContext({\n  kind: 'start',\n  issue,\n  env: $env,\n  threadTs: threadMap[issue.number]\n}) }];"
      },
      "id": "node-build-start-payload",
      "name": "Build start payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [992, 208],
      "notes": "require('slack-notify') でテンプレートを適用し Slack ノードに渡す Block Kit を生成する"
    },
    {
      "parameters": {
        "resource": "message",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel }}"
        },
        "messageType": "block",
        "blocksUi": "={{ $json.blocksJson }}",
        "text": "={{ $json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $json.thread_ts }}",
              "reply_broadcast": "={{ $json.reply_broadcast }}"
            }
          }
        }
      },
      "id": "node-slack-start",
      "name": "Slack: 処理開始",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1212, 208],
      "credentials": {
        "slackApi": {
          "name": "Slack Bot"
        }
      },
      "notes": "初回は親メッセージ、再試行時は元スレッドへの返信として投稿する。親投稿の失敗は 1Issue=1スレッドの不変条件を壊すため、onError は指定せずワークフロー全体を停止させる（ai-processing ラベルが残り、次の ai-stuck-cleanup で ai-failed に回収される）"
    },
    {
      "parameters": {
        "jsCode": "const t = require('slack-notify');\nconst issue = $('Get oldest ai-ready Issue').first().json;\nt.rememberThread(\n  $getWorkflowStaticData('global'),\n  issue.number,\n  $input.first().json.message_timestamp\n);\nreturn $input.all();"
      },
      "id": "node-persist-thread-ts",
      "name": "Persist thread ts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1432, 208],
      "notes": "初回実行時のみ、Slack 親メッセージの ts を workflow static data に保存する。再試行時はスキップ"
    },
    {
      "parameters": {
        "command": "={{ '/opt/scripts/n8n-run-claude.sh ' + $('Get oldest ai-ready Issue').item.json.number }}"
      },
      "id": "node-run-claude",
      "name": "Run Claude Code",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1652, 208],
      "onError": "continueErrorOutput",
      "notes": "stdout: PR URL / stderr: --verbose ツール呼び出しログ（n8n Executions に7日間保存）"
    },
    {
      "parameters": {
        "operation": "createComment",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "issueNumber": "={{ $('Get oldest ai-ready Issue').item.json.number }}",
        "body": "={{ '調査完了しました。結果は以下の Draft PR を確認してください。\\n\\n' + $json.stdout.trim() }}"
      },
      "id": "node-post-comment",
      "name": "Post PR Link to Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1872, 108],
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "edit",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "issueNumber": "={{ $('Get oldest ai-ready Issue').item.json.number }}",
        "editFields": {
          "labels": [{"label": "ai-investigated"}]
        }
      },
      "id": "node-label-investigated",
      "name": "Set ai-investigated label",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2092, 108],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const t = require('slack-notify');\nconst issue = $('Get oldest ai-ready Issue').first().json;\nconst threadMap = $getWorkflowStaticData('global').slackThreads || {};\nreturn [{ json: t.buildPayloadForContext({\n  kind: 'success',\n  issue,\n  env: $env,\n  threadTs: threadMap[issue.number] || $('Slack: 処理開始').first().json.message_timestamp,\n  runClaudeOutput: $('Run Claude Code').first().json,\n  executionStartedAt: $execution.startedAt\n}) }];"
      },
      "id": "node-build-success-payload",
      "name": "Build success payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2312, 108],
      "notes": "成功時のスレッド返信用 Block Kit を組み立てる"
    },
    {
      "parameters": {
        "resource": "message",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel }}"
        },
        "messageType": "block",
        "blocksUi": "={{ $json.blocksJson }}",
        "text": "={{ $json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $json.thread_ts }}",
              "reply_broadcast": "={{ $json.reply_broadcast }}"
            }
          }
        }
      },
      "id": "node-slack-success",
      "name": "Slack: 調査完了",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2532, 108],
      "onError": "continueRegularOutput",
      "credentials": {
        "slackApi": {
          "name": "Slack Bot"
        }
      },
      "notes": "成功時のスレッド返信（Issue / PR ボタン付き）"
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "edit",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "issueNumber": "={{ $('Get oldest ai-ready Issue').item.json.number }}",
        "editFields": {
          "labels": [{"label": "ai-failed"}]
        }
      },
      "id": "node-label-failed",
      "name": "Set ai-failed label",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1872, 420],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const t = require('slack-notify');\nconst issue = $('Get oldest ai-ready Issue').first().json;\nconst threadMap = $getWorkflowStaticData('global').slackThreads || {};\nconst baseUrl = ($env.N8N_PUBLIC_URL || 'http://localhost:5678').replace(/\\/$/, '');\nreturn [{ json: t.buildPayloadForContext({\n  kind: 'failure',\n  issue,\n  env: $env,\n  threadTs: threadMap[issue.number] || $('Slack: 処理開始').first().json.message_timestamp,\n  runClaudeOutput: $('Run Claude Code').first().json,\n  executionUrl: `${baseUrl}/workflow/${$workflow.id}/executions/${$execution.id}`,\n  executionStartedAt: $execution.startedAt\n}) }];"
      },
      "id": "node-build-failure-payload",
      "name": "Build failure payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2092, 420],
      "notes": "失敗時のスレッド返信用 Block Kit と errorText を生成する。errorText は後続の Post Error Comment が再利用する（resolveFailureError のロジックを重複させない）"
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "issueNumber": "={{ $('Get oldest ai-ready Issue').item.json.number }}",
        "body": "={{ '調査中にエラーが発生しました（タイムアウトまたは予期しないエラー）。再試行するには `ai-ready` ラベルを付け直してください。\\n\\n```\\n' + $json.errorText + '\\n```' }}"
      },
      "id": "node-post-error-comment",
      "name": "Post Error Comment",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2312, 420],
      "credentials": {},
      "notes": "Build failure payload が出力した errorText（秘匿スクラブ済み）をそのまま本文に利用する"
    },
    {
      "parameters": {
        "resource": "message",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Build failure payload').first().json.channel }}"
        },
        "messageType": "block",
        "blocksUi": "={{ $('Build failure payload').first().json.blocksJson }}",
        "text": "={{ $('Build failure payload').first().json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Build failure payload').first().json.thread_ts }}",
              "reply_broadcast": "={{ $('Build failure payload').first().json.reply_broadcast }}"
            }
          }
        }
      },
      "id": "node-slack-failure",
      "name": "Slack: 処理失敗",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2532, 420],
      "onError": "continueRegularOutput",
      "credentials": {
        "slackApi": {
          "name": "Slack Bot"
        }
      },
      "notes": "失敗時のスレッド返信（エラー詳細 + リトライ案内 + n8n実行ログボタン付き）。Post Error Comment の出力は GitHub API レスポンスになるので、payload は Build failure payload から明示的に取得する"
    }
  ],
  "connections": {
    "Schedule 10min": {
      "main": [
        [{"node": "Get oldest ai-ready Issue", "type": "main", "index": 0}]
      ]
    },
    "Get oldest ai-ready Issue": {
      "main": [
        [{"node": "If", "type": "main", "index": 0}]
      ]
    },
    "If": {
      "main": [
        [{"node": "Set ai-processing label", "type": "main", "index": 0}]
      ]
    },
    "Set ai-processing label": {
      "main": [
        [{"node": "Build start payload", "type": "main", "index": 0}]
      ]
    },
    "Build start payload": {
      "main": [
        [{"node": "Slack: 処理開始", "type": "main", "index": 0}]
      ]
    },
    "Slack: 処理開始": {
      "main": [
        [{"node": "Persist thread ts", "type": "main", "index": 0}]
      ]
    },
    "Persist thread ts": {
      "main": [
        [{"node": "Run Claude Code", "type": "main", "index": 0}]
      ]
    },
    "Run Claude Code": {
      "main": [
        [{"node": "Post PR Link to Issue", "type": "main", "index": 0}],
        [{"node": "Set ai-failed label", "type": "main", "index": 0}]
      ]
    },
    "Post PR Link to Issue": {
      "main": [
        [{"node": "Set ai-investigated label", "type": "main", "index": 0}]
      ]
    },
    "Set ai-investigated label": {
      "main": [
        [{"node": "Build success payload", "type": "main", "index": 0}]
      ]
    },
    "Build success payload": {
      "main": [
        [{"node": "Slack: 調査完了", "type": "main", "index": 0}]
      ]
    },
    "Set ai-failed label": {
      "main": [
        [{"node": "Build failure payload", "type": "main", "index": 0}]
      ]
    },
    "Build failure payload": {
      "main": [
        [{"node": "Post Error Comment", "type": "main", "index": 0}]
      ]
    },
    "Post Error Comment": {
      "main": [
        [{"node": "Slack: 処理失敗", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
