workflows/ai-stuck-cleanup.json
{
  "name": "AI Stuck Issue Cleanup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [112, 300]
    },
    {
      "parameters": {
        "resource": "repository",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "limit": 100,
        "getRepositoryIssuesFilters": {
          "labels": "ai-processing",
          "state": "open"
        }
      },
      "id": "node-get-stuck",
      "name": "Get ai-processing Issues",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [332, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-stale",
              "leftValue": "={{ Math.floor((Date.now() - new Date($json.updated_at).getTime()) / 1000) }}",
              "rightValue": "={{ Number($env.WORKFLOW_TIMEOUT_SEC || 660) }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-if-stale",
      "name": "Stale? (updated_at > TIMEOUT)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [552, 300],
      "notes": "最終更新からタイムアウト秒数以上経過した Issue をスタックと判定"
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "edit",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "issueNumber": "={{ $json.number }}",
        "editFields": {
          "labels": [{"label": "ai-failed"}]
        }
      },
      "id": "node-label-failed",
      "name": "Set ai-failed label",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [772, 200],
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "issueNumber": "={{ $json.number }}",
        "body": "調査がタイムアウトまたは中断されました（`ai-processing` のまま停止を検知）。再試行するには `ai-ready` ラベルを付け直してください。"
      },
      "id": "node-post-comment",
      "name": "Post Stuck Comment",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [992, 200],
      "credentials": {}
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {"fieldToAggregate": "number", "renameField": false},
            {"fieldToAggregate": "title", "renameField": false},
            {"fieldToAggregate": "updated_at", "renameField": false}
          ]
        },
        "options": {
          "mergeLists": false
        }
      },
      "id": "node-aggregate",
      "name": "Aggregate Stuck Issues",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1212, 200],
      "notes": "スタック検知済み Issue を1件にまとめてバッチ通知用に集約"
    },
    {
      "parameters": {
        "jsCode": "const t = require('slack-notify');\nconst agg = $input.first().json;\nconst issues = agg.number.map((n, i) => ({\n  number: n,\n  title: agg.title[i],\n  updatedAt: agg.updated_at[i]\n}));\nconst payload = t.buildStuckBatchMessage({\n  repo: $env.GITHUB_REPO,\n  channelId: $env.SLACK_CHANNEL_ID,\n  issues,\n  timeoutSec: $env.WORKFLOW_TIMEOUT_SEC || '660'\n});\nreturn [{ json: { ...payload, blocksJson: JSON.stringify({ blocks: payload.blocks }) } }];"
      },
      "id": "node-build-stuck-payload",
      "name": "Build stuck-batch payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1432, 200],
      "notes": "集約済み Issue リストから Block Kit バッチ通知を組み立てる"
    },
    {
      "parameters": {
        "resource": "message",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel }}"
        },
        "messageType": "block",
        "blocksUi": "={{ $json.blocksJson }}",
        "text": "={{ $json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "node-slack-stuck",
      "name": "Slack: スタック検知 (一括)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1652, 200],
      "onError": "continueRegularOutput",
      "credentials": {
        "slackApi": {
          "name": "Slack Bot"
        }
      },
      "notes": "スタック検知済み Issue をまとめて1件のメッセージで通知"
    }
  ],
  "connections": {
    "Schedule 30min": {
      "main": [
        [{"node": "Get ai-processing Issues", "type": "main", "index": 0}]
      ]
    },
    "Get ai-processing Issues": {
      "main": [
        [{"node": "Stale? (updated_at > TIMEOUT)", "type": "main", "index": 0}]
      ]
    },
    "Stale? (updated_at > TIMEOUT)": {
      "main": [
        [{"node": "Set ai-failed label", "type": "main", "index": 0}],
        []
      ]
    },
    "Set ai-failed label": {
      "main": [
        [{"node": "Post Stuck Comment", "type": "main", "index": 0}]
      ]
    },
    "Post Stuck Comment": {
      "main": [
        [{"node": "Aggregate Stuck Issues", "type": "main", "index": 0}]
      ]
    },
    "Aggregate Stuck Issues": {
      "main": [
        [{"node": "Build stuck-batch payload", "type": "main", "index": 0}]
      ]
    },
    "Build stuck-batch payload": {
      "main": [
        [{"node": "Slack: スタック検知 (一括)", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
