workflows/ai-stuck-cleanup.json
{
  "name": "AI Stuck Issue Cleanup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "getAll",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "returnAll": false,
        "limit": 100,
        "filters": {
          "labels": "ai-processing",
          "state": "open"
        }
      },
      "id": "node-get-stuck",
      "name": "Get ai-processing Issues",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-stale",
              "leftValue": "={{ Math.floor((Date.now() - new Date($json.updated_at).getTime()) / 1000) }}",
              "rightValue": "={{ $env.CLAUDE_TIMEOUT_SEC || 600 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-if-stale",
      "name": "Stale? (updated_at > TIMEOUT)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300],
      "notes": "最終更新からタイムアウト秒数以上経過した Issue をスタックと判定"
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "edit",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "issueNumber": "={{ $json.number }}",
        "editFields": {
          "labels": [{"label": "ai-failed"}]
        }
      },
      "id": "node-label-failed",
      "name": "Set ai-failed label",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [700, 200],
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $env.GITHUB_REPO.split('/')[0] }}",
        "repository": "={{ $env.GITHUB_REPO.split('/')[1] }}",
        "issueNumber": "={{ $json.number }}",
        "body": "調査がタイムアウトまたは中断されました（`ai-processing` のまま停止を検知）。再試行するには `ai-ready` ラベルを付け直してください。"
      },
      "id": "node-post-comment",
      "name": "Post Stuck Comment",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": {}
    },
    {
      "parameters": {
        "command": "={{ 'node /opt/scripts/slack-notify.js ' + encodeURIComponent(JSON.stringify({type: 'stuck', issueNumber: $('Stale? (updated_at > TIMEOUT)').item.json.number, issueTitle: $('Stale? (updated_at > TIMEOUT)').item.json.title, updatedAt: $('Stale? (updated_at > TIMEOUT)').item.json.updated_at, timeoutSec: $env.CLAUDE_TIMEOUT_SEC || '600'})) }}"
      },
      "id": "node-slack-stuck",
      "name": "Slack: スタック検知",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1100, 200],
      "onError": "continueRegularOutput",
      "notes": "スタック検知時にチャンネルに直接投稿（スレッドなし）"
    }
  ],
  "connections": {
    "Schedule 30min": {
      "main": [
        [{"node": "Get ai-processing Issues", "type": "main", "index": 0}]
      ]
    },
    "Get ai-processing Issues": {
      "main": [
        [{"node": "Stale? (updated_at > TIMEOUT)", "type": "main", "index": 0}]
      ]
    },
    "Stale? (updated_at > TIMEOUT)": {
      "main": [
        [{"node": "Set ai-failed label", "type": "main", "index": 0}],
        []
      ]
    },
    "Set ai-failed label": {
      "main": [
        [{"node": "Post Stuck Comment", "type": "main", "index": 0}]
      ]
    },
    "Post Stuck Comment": {
      "main": [
        [{"node": "Slack: スタック検知", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
